#container {
  width: 4000px;
  height: 4000px;
  border: 1px solid black;
}

#container * {
  transition: all 0.5s ease;
}

.elk-svg-node-component {
  fill: #eee;
  stroke: red;
}

.elk-svg-label-component {
  dominant-baseline: hanging;
}

.elk-svg-edge-component {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.description > span {
  border-right: 1px solid black;
  padding: 0 5px;
}
